body,html {
    background-color: #ffffff;
    opacity: 1;
    height: 100%;
    min-height: 1000px;
}
/*#header{
    margin-top: -15px;
}*/
.brand-img {
    height: 55px;
    margin-left: 10px;
}
#brand-lg{
    margin-top: -7px;
}
.header-section{
    height: 585px;
    background-color: #66ccff;
    margin-top: -5px;"
}
.res-section{
    height: 500px;
    text-align: center;
    background-color: #ffffff;
    margin-top: -10px;
}
#res-text{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 300%;
    text-align: center;
    color: #ffffff;
}
#total{
    margin-top: 0px;
    font-size: 600%;
    text-align: center;
    color: #da4453;
}
#time{
    font: impact;
    font-size: 200%;
    color: #ffffff;
    margin-bottom: -15px;
}
#delivery-text{
    color: #da4453;
    text-align: center;
    /*padding-top: -30px;*/
}
#time-text{
    text-align: center;
    padding-top: 30px;
}
.btn-area{
    margin-top: -10px;
    /*padding-bottom: 50px;*/
}
.btn{
    margin-top: 40px;
    height: 50px;
    width: 200px;
    background: transparent;
/*    border-color: #357ebd;*/
    border-color: #660099;
    font-size: 150%;
    color: #660099;
}
.btn:hover,
.btn:focus {
    color: #660099;
    text-decoration: none;
}
/*#cot{
    text-align: center;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}*/
.pad1{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-top: 10px;
    background-color: #ffffff;
    margin-bottom: -2px;
}
.pad2{
    margin-top: 0px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    background-color: #ffffff;
}
.pad3{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #33cc66;
    margin-top: -30px;
    margin-bottom: -10px;
}
#restbox{
    height: 400px;
}
#justnpita{
    margin-bottom: 30px;
}
#restaurants{
    height: 400px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    border-radius: 3px;
    margin-left: -2px;
    margin-right: 10px;
    margin-top: 10px;
    max-height: 400px;
    overflow: auto;
}
#restaurants-head{
    font: Impact;
    font-size: 150%;
    color: #33aaee;
    text-align: center;
}
.rest-logo{
    height: 100px;
/*    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #ffffff;*/
/*    box-shadow: 2px 2px 2px gray;*/
/*    max-width: 240px;*/
}
#map-canvas {
    height: 500px;
/*    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #aaaaaa;
*/  margin-top: auto;
    margin-left: auto;
}
.puzzle-pad{
    height: auto;
    min-height: 300px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #eeeeee;
}
.puzzle{
    height: 300px;
    text-align: center;
    padding-bottom: 5px;
}
.puzzle-xs{
    height: auto;
    min-height: 100px;
}
.puzzle-pic{
    height: 298px;
}
.puzzle-text{
    font-size: 120%;
    margin-top: 15%;
    margin-bottom: 40%;
}
.puzzle-text-xs{
    height: auto;
    font-size: 120%;
    margin-top: 10px;
    text-align: center;
}
.sign-up-btn{
    position: relative;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: -450px;
}
.sign-up-btn-xs{
    position: relative;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 0;
}
#footer{
    text-align: center;
    background-color: #eeeeee;
    min-height: 80px;
    height: auto;
    padding-top: 10px;
}
.footer-text{
    margin-top: 15px;
}
.footer-social{
    margin-top: 5px;
}
.fb-like{
    margin-bottom: 5px;
}
.social-icon{
    height: 48px;
    width: 48px;
}
#fb{
    background-image: url('../img/facebook.png');
    background-size: 110%;
    border-radius: 5px;
    border-width: 0;
}
#tw{
    background-image: url('../img/twitter.png');
    background-size: 110%;
    border-radius: 5px;
    border-width: 0;
    margin-left: 20px;
}
#facebook-icon{
    color: #3b5998;
}
#twitter-icon{
    color: #00aced;
}
#google-plus-icon{
    color: #d34836;
}
#linkedin-icon{
    color: #007bb6;
}

.tab-content {
padding-top: 100px;
/*padding: 10px;*/
border:1px solid #ddd;
border-bottom:0px;
}
.nav-tabs {
border-bottom: 0px;
border-top: 1px solid #ddd;
}
.nav-tabs > li {
margin-bottom:0;
margin-top:-1px;
}
.nav-tabs > li > a {
padding-top: 8px;
padding-bottom: 8px;
line-height: 20px;
border: 1px solid transparent;
-moz-border-radius:0px;
-webkit-border-radius:0px;
border-radius:0px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
color: #555555;
cursor: default;
background-color: #ffffff;
border: 1px solid #ddd;
border-top-color: transparent;
}
.staff-pick-des{
    padding-bottom: 100px;
    padding-top: 50px
}