.card{
	height: 300px;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #d8d8d8;
    border-bottom-width: 2px; 
    box-shadow: 3px 3px 3px gray;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
          border-radius: 3px;
    overflow: auto;
}

.card-title{
    font-size: 200%;
    margin-top: 10px;
}