body, html{
    min-height: 500px;
}
#logo-big{
    display: block;
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 90px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#cot{
    text-align: center;
    margin-top: 0;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
#signin-title{
    font-family: Impact,  fantasy; 
    font-size: 200%; 
    color: #073956;
}
.result-box{
    display: none; 
    width: 250px; 
    border-style: solid; 
    border-width: 1px; 
    border-color: red; 
    border-radius: 5px; 
    background-color: #FFD6D6; 
    text-align: center; 
    margin-bottom: 10px; 
    margin-left: auto; 
    margin-right: auto;
}
.success-box{
    display: none; 
    height: auto; 
    width: 250px; 
    border-style: solid;
    border-width: 1px; 
    border-color: green; 
    border-radius: 5px; 
    background-color: #00FF66; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 10px;
}
.input-control{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 252px;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#signin-button{
    margin: 0.2em;
    padding: 0;
    width: 17.9em;
    height: 4em;
    background-color: #33aaee;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}
.error{
    color: red;
}
#footer{
    height: auto;
    min-height: 30px;
    text-align: center;
    padding-top: 30px;
}
.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    text-align: center;
}