/* index */

body,html {
    background-color: #ffffff;
    opacity: 1;
    height: 100%;
    min-height: 600px;
}

.brand-img {
    height: 53px;
    margin-left: 10px;
}

.header-section{
    text-align: center;
    min-height: 500px;
    height: auto;
    background-color: #9bd6f5;
    margin-top: 5px;
}

.res-section{
    height: 540px;
    text-align: center;
    background-color: #ffffff;
}

.pick-section{
    background-color: white;
}

#time{
    font: impact;
    font-size: 200%;
    color: #ffffff;
    margin-bottom: -15px;
}

#delivery-text{
    color: #da4453;
    text-align: center;
}

#time-text{
    text-align: center;
    padding-top: 30px;
}

.btn-area{
    margin-top: -10px;
    text-align: center;
}

#signin{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;
    width: 200px;
    background: transparent;
    border-color: #660099;
    font-size: 150%;
    color: #660099;
}

#signin:hover,
#signin:focus {
    color: #660099;
    text-decoration: none;
}

#joinus{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;
    width: 200px;
    background: transparent;
    border-color: #660099;
    font-size: 150%;
    color: #660099;
}

#joinus:hover,
#joinus:focus {
    color: #660099;
    text-decoration: none;
}

.pad2{
    margin-top: 0px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    background-color: #ffffff;
}

.rest-logo{
    height: 100px;
    border: 1px solid #dddddd;
    box-shadow: 2px 2px 2px gray;
}

#map {
    height: 500px;
    margin-top: auto;
    margin-left: auto;
}

.puzzle-pad{
    height: auto;
    min-height: 300px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #eeeeee;
}

.puzzle{
    height: 300px;
    text-align: center;
    padding-bottom: 5px;
}

.puzzle-xs{
    height: auto;
    min-height: 100px;
}

.puzzle-pic{
    height: 298px;
}

.puzzle-text{
    font-size: 120%;
    margin-top: 15%;
    margin-bottom: 40%;
}

.puzzle-text-xs{
    height: auto;
    font-size: 120%;
    margin-top: 10px;
    text-align: center;
}

#footer{
    color: #ffffff;
    display: block;
    text-align: center;
    background-color: #252525;
    min-height: 70px;
    height: auto;
    padding-top: 10px;
}

.footer-text{
    margin-top: 15px;
}

.footer-social{
    margin-top: 5px;
}

#facebook-icon{
    color: #3b5998;
}

#twitter-icon{
    color: #00aced;
}

#google-plus-icon{
    color: #d34836;
}

#linkedin-icon{
    color: #007bb6;
}

.tabbable{
    padding-top: 50px;
}

.staff-pick-des{
    padding-bottom: 100px;
}

.pick{
    border: 1px solid #eee;
    border-bottom: none;
    height: 250px;
    text-align: left;
    padding-top: 15px;
}

.tab-content {
    border:1px solid #ddd;
    border-bottom:0px;
}

.nav-tabs {
    border-bottom: 0;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

.nav-tabs > li {
    margin-bottom:0;
    margin-top: 3px;
}

.nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    margin-bottom: -3px !important;
    border: none !important;
    border-radius: none !important;
    border-top-color: transparent !important;
    border-bottom: 3px solid #33aaee !important;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.carousel-control .glyphicon-chevron-left{
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
}
.carousel-control .glyphicon-chevron-right{
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
}
/* index end */

/* about us */
html,body {
    background-color: #eeeeee;
    opacity: 5;
    min-height: 600px;
}

html{
    overflow-x: hidden;
}

#word{
    font-family:sans-serif;
    font-size:40px;
}

.uspad{
    padding-top: 15px;
    text-align: center;
    background-color: #eeeeee;
    min-height: 520px;
}

.contents{
    padding:15px;
    font-family: Corbel;
    font-size:20px;
    margin-top: 80px;
    float: left;
}

.description{
    font-family: Corbel;
    font-size: 20px;
}

/*.peole-card{
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/

.people-card.hovercard {
    position: relative;
    width: 240px;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-top-width: 0;
    -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: none;
        -moz-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.people-card.hovercard img {
    width: 240px;
    height: 135px;
}

.people-card.hovercard .avatar {
    position: relative;
    top: -40px;
    margin-bottom: -40px;
}

.people-card.hovercard .avatar img {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
            border-radius: 50%;
}

.people-card.hovercard .info {
    padding: 4px 8px 10px;
}

.people-card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.people-card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.people-card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
/* about us end */

/* our clients */

.clients-card{
    height: 300px;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #d8d8d8;
    border-bottom-width: 2px; 
    box-shadow: 3px 3px 3px gray;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
          border-radius: 3px;
    overflow: auto;
}

.clients-card-title{
    font-size: 200%;
    margin-top: 10px;
}

/* our clients end */

/* admin */

.container{
    width: 100%;
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 10px;
}

header{
    margin: 0;
    width: auto;
    margin-right: -35px;
}

/*.navbar{
    border-radius: 0;
    background-color: #ffffff;
    border: none;
    vertical-align: middle;
}
.nav-brand{
    display: inline-block;
}

#brand-text {
    margin-bottom: -5px;
    font-size: 280%;
    font-family: Impact,  fantasy;
    color: #33aaee;
}*/
/*.nav-btn{
    display: inline-block;
    border: none;
    background-color: #ffffff;
    height: auto;
    width: auto;
    font-family: Impact, fantasy;
    font-size: 200%;
    color: #33aaee;
    vertical-align: sub;
    margin-top: 20px;
    margin-right: 10px;
}
*/
.profile-box{
    border-style: solid; 
    border-width: 2px; 
    border-color: #33aaee; 
    background-color: #ffffff;
    box-shadow: 5px 5px 5px gray;
    margin-bottom: 10px;
}

.profile-footer{
    height: 40px;
}

.profile-button{
    height: 40px;
    width: 100%;
    border: none;
    background-color: #dddddd;
}

.card{
    height: 222px;
    width: auto;
    background-color: #ffffff;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    border-bottom-width: 2px;
    box-shadow: 3px 3px 3px gray;
    margin-bottom: 4px;
}

.card-long{
    height: 450px;
    width: auto;
    background-color: #ffffff;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    border-bottom-width: 2px;
    box-shadow: 3px 3px 3px gray;
}

#history-card{
    overflow:auto;
}

.pad{
    padding: 5px;
}

/*#s{
    text-align: center;
    font-size: 400%;
    font-family: Impact, fantasy;
    color: #33aaee;
}*/

.cot{
    text-align: center;
    background-color: #eeeeee;
    height: 100%;
    min-height: 575px;
}

.wrapper{
    background-color: #eeeeee;
    margin-top: -20px;
    padding-left: 20px;
    margin-bottom: -20px;
    /*padding-bottom: 10px;*/
    width: 100%;
    padding-top: 20px;
}

#signin-button{
    margin-top: 10px;
    padding: 0;
    width: 100%;
    max-width: 17.9em;
    height: 40px;
    background-color: #33aaee;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

#signup-form{
    border-bottom: solid;
    border-width: 1px;
    border-color: #eeeeee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.form-control{
    max-width: 17.9em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#main-clear{
    border: none;
    color: #33aaee;
    width: 100%;
    height: 50px;
}

.card-heading{
    font-family: Impact;
    font-size: 20px;
    font-weight: 300;
    color: #777;    
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-top: 10px;
}

.card-content{
    text-align: center;
    font-size: 200%;
    font-family: Impact, fantasy;
    color: #073956;
}

.profile-corner{
    border-left: none;
    border-width: 2px;
    border-color: #eeeeee;
    margin-left: 10px;
}

#history-cardd{
    margin-bottom: 90px;
}

/*.assign-button{
    border: none;
    background-color: #ccc;
    height: 100%;
    width: 100%;
}*/

/* restaurant */

#brand-lg{
    margin-top: 0px;
}

.rest-wrapper{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #eeeeee;
    min-height: 500px;
    height: 100%;
    padding-top: 25px;
}

#rest-cot{
    margin-top: 20px;
    background-color: #eeeeee;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-bottom: 154px;
}

.button-area{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto !important;
    padding-bottom: 5px;
}

.card{
    overflow: auto;
    height: 222.5px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    box-shadow: 3px 3px 3px gray;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
          border-radius: 3px;
}

.card-heading{
    font-family: Impact;
    font-size: 20px;
    font-weight: 300;
    color: #777;    
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-top: 10px;
}

.card-heading-simple{
    font-family: Impact;    
    font-size: 25px;
    font-weight: 300;
    color: #777;    
    margin-top: 0;
    margin-bottom: -5px;
}

.card-long{
    height: 450px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    box-shadow: 3px 3px 3px gray;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
        border-radius: 3px;
}

#history-card{
    overflow: auto;
}

.card-text {
    font-family: Impact;
    color: #777;
}

.card-lg-text{
    font-size: 400%;
    font-family: Impact;
    color: #073956;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#time{
    display: inline-block;
    font-size: 40px;
    font-family: Impact, fantasy;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 19px;
    color: #33aaee;
}

.card-lg-text-normal{
    font-size: 400%;
    font-family: Impact;
    color: #073956;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.button1{
    width: 100%;
    height: 450px;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: #eeeeee;
    margin-left: auto;
    margin-right: auto;
}

#driver-button{
    background-image: url('../img/driver.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#user-profile-function{
    height: 222.5px;
    background-color: #ffffff;
    text-align: center;
    font-family: Impact;
    font-size: 20px;    
}

.announcement{
    margin-bottom: -5px;
    font-size: 250%;
    font-family: Impact;
    color: #555;
    margin-left: 5px;
    margin-right: 5px;
}

.modal-dialog{
    width: 60%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.modal-content{
    text-align: center;
}

#result{
    margin-left: 5px;
    margin-right: 5px;
    font-family: Impact; 
    font-size: 140%;
    color: #777;
}

.card-form-title{
    font-family: Impact, fantasy; 
    font-size: 180%; 
    color: #073956;
}

.result-box{
    display: none; 
    width: 250px; 
    border-style: solid; 
    border-width: 1px; 
    border-color: red; 
    border-radius: 5px; 
    background-color: #FFD6D6; 
    text-align: center; 
    margin-bottom: 10px; 
    margin-left: auto; 
    margin-right: auto;
}

#abort{

}