<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <title>Pocketask | Catering History</title>
    <meta name="author" content="Pocketask Inc.">
    <meta name="description" content="Pocketask is now in Waterloo & Kitchener region.
        With Pocketask, restaurants can secure a delivery driver in 10 minutes or less.
        Pocketask streamlines the food delivery process;
        restaurant owners can request a driver, and pre-screened drivers can accept the call.">
    <meta name="keywords" content="pocketask, delivery, food, restaurant, catering, local,
        waterloo, kitchener, takeout, online" >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" type="text/css" href="/css/trunk.css">
    <link rel="stylesheet" type="text/css" 
        href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" 
        href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.keypad.css">
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <link rel="shortcut icon" href="../img/favicon.ico">
</head>

<body onload="startTime()">
    <header class="slide">
        <ul id="navToggle" class="burger slide">
            <li></li><li></li><li></li>
        </ul>
        <h1 class="hidden-xs">
            <img class="brand-img" id="brand-lg" src="/img/logo-big.png" 
                style="margin-top: -14px;" />
            <div class="hidden-sm hidden-xs hidden-md" name="time" id="time"></div>
        </h1>
        <h1 class="visible-xs">
            <img class="brand-img" src="/img/logo-small.png">
        </h1>
    </header>
    <nav class="slide nav" style="margin-right: 12px;">
        <ul>
            <li><a href="/restaurant/dashboard">HOME</a></li>
            <li><a href="/restaurant/history">HISTORY</a></li>
            <li><a href="/restaurant/mobilemanager">MOBILE NUMBERS</a></li>
            <li><a href="" onclick="catering()">CATERING</a></li>
            <li><a href="" onclick="preorder()">PRE-ORDER</a></li>
            <li><a href="" onclick="logout()">LOG OUT</a></li>
        </ul>
    </nav>

    <div class="content slide">
        <div class="rest-wrapper">
            <!-- <div class="visible-sm visible-xs" style="height: 60px;"></div> -->
            <div class="button-area col-md-9 visible-lg visible-md">
                <div class="card-long" id="history-card" ng-controller="longcateringhistctrl">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td style="font-family: Impact; color: #777;">Time</td>
                                <td style="font-family: Impact; color: #777;">Status</td>
                                <td style="font-family: Impact; color: #777;">Driver</td>
                                <td style="font-family: Impact; color: #777;">Driver's phone</td>
                                <td style="font-family: Impact; color: #777;">Destination</td>  
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lhist in lhists">
                                <td>{{lhist.date}}</td>
                                <td>{{lhist.status}}</td>
                                <td>{{lhist.deliveredBy.fullname}}</td>
                                <td>{{lhist.deliveredBy.phone}}</td>
                                <td>{{lhist.destination.full}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="button-area col-md-9 hidden-lg hidden-md">
                <div class="card-long" id="history-card" ng-controller="longcateringhistctrl">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td style="font-family: Impact; color: #777;">Time</td>
                                <td style="font-family: Impact; color: #777;">Status</td>
                                <td style="font-family: Impact; color: #777;">Driver</td>
                                <td style="font-family: Impact; color: #777;">Driver's phone</td>
                                <td style="font-family: Impact; color: #777;">Destination</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lhist in lhists">
                                <td>{{lhist.date}}</td>
                                <td>{{lhist.status}}</td>
                                <td>{{lhist.deliveredBy.fullname}}</td>
                                <td>{{lhist.deliveredBy.phone}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div id="user-profile">
                        <p class="card-text" id="fullname"></p>
                        <p class="card-text"></p>
                        <p class="card-text" id="address"></p>
                        <p class="card-text" id="phone"></p>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <p class="card-heading">Current Balance</p>
                        <div id="balance" class="card-lg-text-normal"></div>
                        <p id="balance-hint1" style="display: none;">The amount in red is unpaid balance</p>
                        <p id="balance-hint2" style="display: none;">The amount in brackets is credit from your last payment</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-47690619-1', 'pocketask.com');
    ga('send', 'pageview');
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js">
    </script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/trunk.js"></script>
    <script src="/js/host.js"></script>
    <script src="/js/dashboard-fun.js"></script>

    <div class="modal fade bs-example-modal-sm" tabindex="0" role="dialog"
        aria-labelledby="mySmallModalLabel" aria-hidden="true" id="confirm-modal"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Are you sure?</p>
                    <p id="timeLeft">The request will be proceed in: 10 seconds</p>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        id="abort" onclick="abort()">Abort now</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="proceed()">Yes, proceed</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var restaurant = getRestaurant();
        var b = restaurant.balance;
        if (b > 0){
            document.getElementById('balance').innerHTML = b;
            document.getElementById('balance').style.color = "red";
            document.getElementById('balance-hint1').style.display = 'block';
        } else if (b < 0) {
            b = '( ' + b*(-1) + ' )';
            document.getElementById('balance').innerHTML = b;
            document.getElementById('balance-hint2').style.display = 'block';
        } else {
            document.getElementById('balance').innerHTML = b;
        }

        // document.getElementById('total').innerHTML = restaurant.totalRequests;
        document.getElementById('fullname').innerHTML = 'Username:  ' + restaurant.fullname;
        document.getElementById('address').innerHTML = 'Address: ' + restaurant.address.full;
        document.getElementById('phone').innerHTML = "Phone Number: " + restaurant.phone;
    </script>
    <script>
        var cancel = false;
        var countdownNum = 10;
        var time;
        $('#confirm-modal').on('show.bs.modal', function() {
            var time = new Date().getTime();
            timevar = time;
            incTimer();
            document.getElementById('timeLeft').innerHTML =
                'The request will be proceed in: 10 seconds';
            function incTimer() {
                cancel = false;
                setTimeout(function() {
                    if(countdownNum !== 0 && cancel === false && timevar === time) {
                        countdownNum--;
                        document.getElementById('timeLeft').innerHTML =
                            'The request will be proceed in: ' + countdownNum + ' seconds';
                        incTimer();
                    } else if(countdownNum === 0 && cancel === false && timevar === time) {
                        cancel = false;
                        countdownNum = 10;
                        $('#confirm-modal').modal('hide');
                        requestDriver();
                    }
                },1000);
            }
        });
        $('#confirm-modal').on('hidden.bs.modal', function() {
            countdownNum = 10;
            timevar = 0;
        })
        function abort() {
            cancel = true;
            timevar = 0;
        }
        function proceed() {
            cancel = true;
            requestDriver();
        }
    </script>
</body>
</html>