<div class="wrapper" style="min-heifht: 595px; padding-top: 10px;" id="uncompleted-wrapper">

    <div class="col-md-9" id="outer-box">
        <div class="pad" >
            <div class="card-long2" id="history-cardd" style="overflow-y:auto;">
                <table class="table table-striped table-hover" ng-controller="uncompletedctrl">
            		<thead style="color: white; background-color: #33aaee;">
                		<tr>
                            <td><b>Normal Requests</b></td>
                            <td><b>Full-name</b></td>
                            <td><b>Date</b></td>
                            <td><b>Arrival Time</b></td>
                            <td><b>Destination</b></td>
                		</tr>
            		</thead>
            		<tbody>
                        <tr ng-repeat="un in uns" ng-class="{'timer-requests': un.arrivalTime}">
                            <td>
                                <button ng-click="assign(un._id)">
                                    Assign Driver
                                </button>
                            </td>
                            <td>{{un.requestedBy.fullname}}</td>
                            <td>{{un.requestedAt}}</td>
                            <td>{{un.arrivalTime}}</td>
                            <td>{{un.destination}}</td>
                        </tr>
                	</tbody>
                </table>
            </div>
            <div class="card-long2" id="history-cardd" style="overflow-y:auto; ">
                <table class="table table-striped table-hover" ng-controller="uncompletedcateringctrl">
                    <thead style="color: white; background-color: #33aaee;">
                        <tr>
                            <td><b>Catering</b></td>
                            <td><b>Full-name</b></td>
                            <td><b>Date</b></td>
                            <td><b>Cars</b></td>
                            <td><b>Destination</b></td>
                            <td><b>H/C</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="un in uns">
                            <td>
                                <button ng-click="assign(un._id)">
                                    Give Order
                                </button>
                            </td>
                            <td>{{un.requestedBy.fullname}}</td>
                            <td>{{un.arrivalTime}}</td>
                            <td>{{un.numOfCars}}</td>
                            <td>{{un.destination.full}}</td>
                            <td>{{un.type}}</td>
                        </tr>
                    </tbody>                    
                </table>         
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="pad" style="">
            <div class="card hidden-xs">
                <p class="card-heading">Miscellaneous</p>
                <button id="main-clear" style="cursor: pointer;" data-toggle="modal" 
                    data-target="#confirm-modal">Clear All Counters</button>
            </div>
            <div class="card" ng-controller="datactrl">
                <p class="card-heading">Data</p>
                <p id="cur" class="card-content"></p>
                <p id="total" class="card-content"></p>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" 
        aria-labelledby="mySmallModalLabel" aria-hidden="true" id="confirm-modal" 
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="height: 60px;">
                    <button type="button" class="cclose" data-dismiss="modal" 
                        aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Click "Yes" to continue clear all the counters.</p>
                    <p>Clear all restaurants' counters will generate their balance at the 
                    same time. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" 
                        id="abort">No</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" 
                        onclick="clearcounter()">Yes, Clear All Counters</button>
                </div>
            </div>
        </div>
    </div>  
</div>
