<div class="wrapper">
<div class="cot">        
    <p style='font-family: Copperplate, "Copperplate Gothic Light",
     fantasy; font-size: 200%; color: #073956'>Change password</p>
    <div id="signup-form">
        <div id="message-box" class="error-box">
            <p></p>
        </div>
        <div id="success-box" class="success-box">
            <p></p>
        </div>
        <form method="post" name="form">
        <!-- <form method="post" name="form" ng-controller="changeactrl"> -->
            <input class="form-control" id="old" 
             placeholder="Old password" type="password" parsley-required="true" ng-model="old"/>
            <input class="form-control" id="new"  
             placeholder="New password" type="password" parsley-required="true" ng-model="new" />
            <input id="signin-button" onclick="change()" value="Make change" type="button" />
            <!-- <input id="signin-button" ng-click="changepassword()" value="Make change" type="button" /> -->
        </form>
    </div>
    <script>
    // function changeactrl($scope, $http) {
    //     $scope.name = getCookie('name');
    //     // $scope.oldpassword = form.old.value;
    //     // $scope.newpassword = form.new.value;

    //     $scope.change = function(name, oldpassword, newpassword) {
    //         $http({method : 'POST', url : '/admin/changeownpassword', params : {name : name, oldPassword : oldpassword, newPassword : newpassword}}
    //             //, headers : {'Content-Type' : 'application/x-www-form-urlencoded' }
    //             )
    //         .success(function(status, data) {
    //             alert('success');
    //         })
    //         .error(function(status) {
    //             alert('error');
    //         });
    //     };
    //     $scope.changepassword = function(){
    //         // alert($scope.name + "/" + $scope.old + "/" + $scope.new);
    //         $scope.change($scope.name, $scope.old, $scope.new);
    //     };
    // }

    function change(){
        var name = getCookie('name');
        var oldPassword = form.old.value;
        var newPassword = form.new.value;
        $.ajax({
            type : "POST",
            url : "/admin/changeownpassword",
            data : {name:name, oldPassword:oldPassword, newPassword:newPassword},
            dataType: 'json',
            statusCode: {
                400: function(res) {
                    document.getElementById("message-box").style.display = 'block';
                    document.getElementById("message-box").innerHTML = 'Something went wrong, please try again.';
                    setTimeout(function() {
                        document.getElementById("message-box").style.display = 'none';
                    }, 5000);
                },
                201: function(res) {
                    document.getElementById("success-box").style.display = 'block';
                    document.getElementById("success-box").innerHTML = res.msg;
                    setTimeout(function() {
                        document.getElementById("success-box").style.display = 'none';
                    }, 5000);
                    document.getElementById("old").value = "";
                    document.getElementById("new").value = "";
                },
                404: function(res) {
                    document.getElementById("message-box").style.display = 'block';
                    document.getElementById("message-box").innerHTML = res.responseJSON.msg;
                    setTimeout(function() {
                        document.getElementById("message-box").style.display = 'none';
                    }, 5000);
                },
                403: function(res) {
                    document.getElementById("message-box").style.display = 'block';
                    document.getElementById("message-box").innerHTML = res.responseJSON.msg;
                    // alert(JSON.stringify(res));
                    setTimeout(function() {
                        document.getElementById("message-box").style.display = 'none';
                    }, 5000);
                },
                401: function(res) {
                    document.getElementById("message-box").style.display = 'block';
                    document.getElementById("message-box").innerHTML = res.responseJSON.msg;
                    setTimeout(function() {
                        document.getElementById("message-box").style.display = 'none';
                    }, 5000);
                }
            }
        });
    }
    
    </script>
</div>
</div>