<div class="wrapper">
    <div class="col-md-9">
        <div class="card-long" id="history-card" ng-controller="longhistctrl" style="height: 522px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td style="font-family: Impact; color: #777;">Time</td>
                        <td style="font-family: Impact; color: #777;">Status</td>
                        <td style="font-family: Impact; color: #777;">Driver</td>
                        <td style="font-family: Impact; color: #777;">Driver's phone</td>
                        <td style="font-family: Impact; color: #777;">Destination</td>
                        <td style="font-family: Impact; color: #777;">Distance</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lhist in lhists">
                        <td>{{lhist.date}}</td>
                        <td>{{lhist.status}}</td>
                        <td>{{lhist.deliveredBy.fullname}}</td>
                        <td>{{lhist.deliveredBy.phone}}</td>
                        <td>{{lhist.destination}}</td>
                        <td>{{lhist.distance}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="pad">
            <div class="card-long">
                <p class="card-form-title">Change Password</p>
                <div id="signup-form" ng-controller="changectrl">
                    <form method="get" name="form">
                        <input class="form-control" id="new" name="new" 
                            placeholder="New password" type="password" ng-model="newpassword">
                        <input id="signin-button" type="button" ng-click="changepassword()" 
                            value="Make change" />
                    </form> 
                </div>

                <p class="card-form-title">Change Balance</p>
                <div id="signup-form" ng-controller="balancectrl">
                    <form method="get" name="credit_form">
                        <input class="form-control" id="amount" name="amount" 
                            placeholder="Amount" ng-model="amount">
                        <input id="signin-button" type="button" ng-click="balance()" 
                            value="Change Balance" />
                    </form>
                </div>
                
                <p class="card-form-title">Increment Counter</p>
                <div id="signup-form" ng-controller="incrementctrl">
                    <form method="get" name="increment_form">
                        <input id="signin-button" type="button" ng-click="incrementcounter()" 
                            value="Increment Counter" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
