<script>
checktoken("uncompleted-wrapper");
</script>
<div class="wrapper" style="padding-top: 10px;">
    <div class="col-md-9" ng-controller="alldriverctrl">
    <!-- <div class="col-md-9" ng-controller="driverctrl"> -->
        <div class="card-long">
            <h3>Change Driver Status</h3>
            <div class="form-inline visible-md visible-lg" style="padding-left: 20px; float: left;">
                <input class="form-control" ng-model="searchDriver" placeholder="Search Text" style="">
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td style="font-family: Impact; color: #777;">Name</td>
                        <td style="font-family: Impact; color: #777;">Status</td>
                        <td style="font-family: Impact; color: #777;">Previous Delivery Time</td>
                        <td style="font-family: Impact; color: #777;">Previous Delivery restaurant</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="driver in drivers | filter:searchDriver">
                        <td>{{driver.fullname}}</td>
                        <td>{{driver.available}}</td>
                        <td>{{driver.lastDelivery.time}}</td>
                        <td>{{driver.lastDelivery.requestedBy.fullname}}</td>
                        <td>
                            <button ng-click="changestatus(driver)">Change</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3" style="text-align: center;">
        <div class="card-long">
            <p style='font-family: Copperplate, "Copperplate Gothic Light",
             fantasy; font-size: 200%; color: #073956;'>Change password</p>
            <div id="signup-form" style="display: block;">
                <div id="message-box" class="error-box">
                    <p></p>
                </div>
                <div id="success-box" class="success-box">
                    <p></p>
                </div>
                <form method="post" name="form">
                    <input class="form-control" id="old" 
                     placeholder="Old password" type="password" parsley-required="true" ng-model="old"/>
                    <input class="form-control" id="new"  
                     placeholder="New password" type="password" parsley-required="true" ng-model="new" />
                    <input id="signin-button" onclick="change()" value="Make change" type="button" />
                </form>
            </div>
        </div>
        <script>
        function change(){
            var oldPassword = form.old.value;
            var newPassword = form.new.value;
            checktoken();
            $.ajax({
                type : "PUT",
                url : "https://pocketask-api.herokuapp.com/users/password",
                data : {password:oldPassword, newpassword:newPassword},
                headers : {
                    token : localStorage.getItem("token")
                },
                dataType: 'json',
                statusCode: {
                    400: function(res) {
                        document.getElementById("message-box").style.display = 'block';
                        document.getElementById("message-box").innerHTML = 'Something went wrong, please try again.';
                        setTimeout(function() {
                            document.getElementById("message-box").style.display = 'none';
                        }, 5000);
                    },
                    200: function(res) {
                        document.getElementById("success-box").style.display = 'block';
                        document.getElementById("success-box").innerHTML = res.msg;
                        setTimeout(function() {
                            document.getElementById("success-box").style.display = 'none';
                        }, 5000);
                        document.getElementById("old").value = "";
                        document.getElementById("new").value = "";
                    },
                    404: function(res) {
                        document.getElementById("message-box").style.display = 'block';
                        document.getElementById("message-box").innerHTML = res.responseJSON.msg;
                        setTimeout(function() {
                            document.getElementById("message-box").style.display = 'none';
                        }, 5000);
                    },
                    403: function(res) {
                        document.getElementById("message-box").style.display = 'block';
                        document.getElementById("message-box").innerHTML = res.responseJSON.msg;
                        // alert(JSON.stringify(res));
                        setTimeout(function() {
                            document.getElementById("message-box").style.display = 'none';
                        }, 5000);
                    },
                    401: function(res) {
                        document.getElementById("message-box").style.display = 'block';
                        document.getElementById("message-box").innerHTML = res.responseJSON.msg;
                        setTimeout(function() {
                            document.getElementById("message-box").style.display = 'none';
                        }, 5000);
                    }
                }
            });
        }
        </script>
    </div>
</div>