<div id="cot">        
    <p style='font-family: Copperplate, "Copperplate Gothic Light", 
     fantasy; font-size: 200%; color: #073956'>Change password</p>
    <div id="signup-form">
        <div id="message-box" class="result-box">
            <p></p>
        </div>
        <div id="success-box" class="success-box">
            <p></p>
        </div>
        <form method="post" name="form">
            <input class="input-control" id="old" name="old" 
             placeholder="Old password" type="password" parsley-required="true" />
            <input class="input-control" id="new" name="new" 
             placeholder="New password" type="password" parsley-required="true" />
            <div id="inlineKeypad"></div>
            <input id="signin-button" type="button" onclick="change()" value="Make change" />
        </form> 
    </div>
    <script>
    $(function () {
        $('#inlineKeypad').keypad({target: $('.input-control:first')});
        var keypadTarget = null;
        $('.input-control').focus(function(){
            if(keypadTarget != this) {
                keypadTarget = this;
                $('#inlineKeypad').keypad('option', {target: this});
            }
        });
    });

    function change(){
        var name = getCookie('name');
        var oldPassword = form.old.value;
        var newPassword = form.new.value;
        $.ajax({
            type : "POST",
            url : "/user/change_password",
            data : {name:name, oldPassword:oldPassword, newPassword:newPassword},
            dataType: 'json',
            statusCode: {
                400: function(res) {
                    document.getElementById("message-box").style.display = 'block';
                    document.getElementById("message-box").innerHTML = 'Something went wrong, please try again.';
                    setTimeout(function() {
                        document.getElementById("message-box").style.display = 'none';
                    }, 5000);
                },
                201: function(res) {
                    document.getElementById("success-box").style.display = 'block';
                    document.getElementById("success-box").innerHTML = res.msg;
                    setTimeout(function() {
                        document.getElementById("success-box").style.display = 'none';
                    }, 5000);
                    document.getElementById("old").value = "";
                    document.getElementById("new").value = "";
                },
                404: function(res) {
                    document.getElementById("message-box").style.display = 'block';
                    document.getElementById("message-box").innerHTML = res.responseJSON.msg;
                    setTimeout(function() {
                        document.getElementById("message-box").style.display = 'none';
                    }, 5000);
                },
                403: function(res) {
                    document.getElementById("message-box").style.display = 'block';
                    document.getElementById("message-box").innerHTML = res.responseJSON.msg;
                    // alert(JSON.stringify(res));
                    setTimeout(function() {
                        document.getElementById("message-box").style.display = 'none';
                    }, 5000);
                },
                401: function(res) {
                    document.getElementById("message-box").style.display = 'block';
                    document.getElementById("message-box").innerHTML = res.responseJSON.msg;
                    setTimeout(function() {
                        document.getElementById("message-box").style.display = 'none';
                    }, 5000);
                }
            }
        });
    }
    </script>
</div>