<div class="wrapper">
    <div class="col-md-3">
        <div class="card">
            <p class="card-heading">Current Balance</p>
            <div id="balance" class="card-lg-text-normal"></div>
            <p id="balance-hint1" style="display: none;">The amount in red is unpaid balance</p>
            <p id="balance-hint2" style="display: none;">The amount in brackets is credit from your last payment</p>
        </div>
        <div class="card">
            <p class="card-heading">Total Number of Deliveries</p>
            <div id="total" class="card-lg-text-normal"></div>
        </div>
    </div>
    <div class="button-area col-md-3 hidden-lg hidden-md">
        <div class="card">
            <div id="user-profile">
                <p class="card-text" id="fullname"> Welcome, fullname!</p>
                <p class="card-text" id="username"></p>
                <p class="card-text">Address: </p>
                <p class="card-text" id="address"></p>
                <p class="card-text" id="phone"></p>                
            </div>
        </div>
        <div>
            <div class="card" id="user-profile-function">
                <p class="card-heading">Miscellaneous</p>
                <a href="/restaurant/changepassword">&bull; Change Password</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card-long" id="history-card" ng-controller="histctrl">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td style="font-family: Impact; color: #777;">Time</td>
                        <td style="font-family: Impact; color: #777;">Status</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="hist in hists">
                        <td>{{hist.date}}</td>
                        <td>{{hist.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="button-area col-md-3 visible-lg visible-md">
        <div class="card">
            <div id="user-profile">
                <p class="card-text" id="fullname1"> Welcome, fullname!</p>
                <p class="card-text" id="username1"></p>
                <p class="card-text"></p>
                <p class="card-text" id="address1"></p>
                <p class="card-text" id="phone1"></p>
            </div>
        </div>
        <div>
            <div class="card" id="user-profile-function">
                <p class="card-heading">Miscellaneous</p>
                <a href="/restaurant/changepassword">&bull; Change Password</a>                
            </div>
        </div>
    </div>
</div>
<script>
var restaurant = getRestaurant();
function histctrl($scope) {
    var hists = restaurant.request_history;
    $scope.hists = [];
    hists.reverse();
    angular.forEach(hists, function(value) {
        value.date = new Date(value.date).toString().substring(0, 25);
        // value.date = new Date(value).toString().substring(0,25);
        if (value.status === 0){
            value.status = 'In Queue';
        } else {
            value.status = 'Driver Sent';
        }
        $scope.hists.push(value);
    });
}
var b = restaurant.account_balance;
if (b > 0){
    document.getElementById('balance').innerHTML = b;
    document.getElementById('balance').style.color = "red";
    document.getElementById('balance-hint1').style.display = 'block';
} else if (b < 0) {
    b = '( ' + b*(-1) + ' )';
    document.getElementById('balance').innerHTML = b;
    document.getElementById('balance-hint2').style.display = 'block';
} else {
    document.getElementById('balance').innerHTML = b;
}

document.getElementById('total').innerHTML = restaurant.total_requests;
document.getElementById('fullname').innerHTML = 'Welcome, ' + restaurant.fullname;
document.getElementById('fullname1').innerHTML = 'Welcome, ' + restaurant.fullname;
document.getElementById('username').innerHTML = "Username: " + restaurant.name;
document.getElementById('username1').innerHTML = "Username: " + restaurant.name;
document.getElementById('address').innerHTML = 'Address: ' + restaurant.address;
document.getElementById('address1').innerHTML = 'Address: ' + restaurant.address;
document.getElementById('phone').innerHTML = "Phone Number: " + restaurant.phone;
document.getElementById('phone1').innerHTML = "Phone Number: " + restaurant.phone;
</script>