<div class="rest-wrapper" style="width: 100%">
    <div class="visible-sm visible-xs" style="height: 60px;"></div>
    <div class="col-md-3">
        <div class="card">
            <p class="card-heading">Recent Number of Deliveries</p>
            <p id="current" class="card-lg-text-normal"></p>
        </div>
        <div class="card visible-lg visible-md">
            <h3 class="card-heading">Announcement</h3>
            <p class="announcement">Welcome to Pocketask Inc.</p>
        </div>
    </br></br></div>
    <div class="button-area col-md-6">
        <form id="requestform" data-parsley-validate>
            <div style="height: 80px">
                <input id="autocomplete" type="text" name="firstname" data-parsley-type="alphanum" data-parsley-group="block1" style="width: 100%; max-width: none;" placeholder="Enter the destination of your order" class="form-control" autofocus/>
                <div class="message-box" id="req-fail-box">
                    <p>Destination is required, please enter the destination.</p>
                </div>
            </div>
            <button class="button1 validate" id="driver-button" style="height: 440px; width: 100%;" type="submit">
                <p style="font-size: 400%; color: white; margin-bottom: 50px; font-weight: 700;">Request For Driver</p>
            </button>
        </form>
        <script>
        var requestform = document.getElementById("requestform");
        $(document).ready(function () {
            $('#requestform').parsley().subscribe('parsley:form:validate', function (formInstance) {
                // if no address input, display error message;
                if (requestform.autocomplete.value === "") {
                    document.getElementById("req-fail-box").style.display = 'block';
                    setTimeout(function(){document.getElementById("req-fail-box").style.display = 'none';}, 10000);
                }

                // if pass the validation, trigger modal;
                else if (formInstance.isValid('block1', true)) {
                    $('.invalid-form-error-message').html('');
                    $('#confirm-modal').modal('show');
                    return;
                }
            // else stop form submission
                formInstance.submitEvent.preventDefault();

            // and display a gentle message
                $('.invalid-form-error-message')
                    .html("You must correctly fill the fields of at least one of these two blocks!")
                    .addClass("filled");
                return;
            });
        });
        </script>
        <script>

        var placeSearch, autocomplete;
        var componentForm = {
          street_number: 'short_name',
          route: 'long_name',
          locality: 'long_name',
          administrative_area_level_1: 'short_name',
          country: 'long_name',
          postal_code: 'short_name'
        };

        function initialize() {
          // Create the autocomplete object, restricting the search
          // to geographical location types.
          autocomplete = new google.maps.places.Autocomplete(
              /** @type {HTMLInputElement} */(document.getElementById('autocomplete')),
              { types: ['geocode'] });
          // When the user selects an address from the dropdown,
          // populate the address fields in the form.
          // google.maps.event.addListener(autocomplete, 'place_changed', function() {
          //   fillInAddress();
          // });
        }

        // [START region_fillform]
        // function fillInAddress() {
        //   // Get the place details from the autocomplete object.
        //   var place = autocomplete.getPlace();

        //   for (var component in componentForm) {
        //     document.getElementById(component).value = '';
        //     document.getElementById(component).disabled = false;
        //   }

        //   // Get each component of the address from the place details
        //   // and fill the corresponding field on the form.
        //   for (var i = 0; i < place.address_components.length; i++) {
        //     var addressType = place.address_components[i].types[0];
        //     if (componentForm[addressType]) {
        //       var val = place.address_components[i][componentForm[addressType]];
        //       document.getElementById(addressType).value = val;
        //     }
        //   }
        // }
        // [END region_fillform]

        // [START region_geolocation]
        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var geolocation = new google.maps.LatLng(
                  position.coords.latitude, position.coords.longitude);
              autocomplete.setBounds(new google.maps.LatLngBounds(geolocation,
                  geolocation));
            });
          }
        }

        initialize();
        // [END region_geolocation]

        // </script>
        <!-- <button class="button1" id="driver-button" data-toggle="modal"
            data-target="#confirm-modal" style="height: 532px; width: 100%;">
            <p style="font-size: 400%; color: white; margin-bottom: 0px; font-weight: 700;">Request For Driver</p>
        </button> -->
        
    </div>
    <div class="col-md-3">
        <div class="card" ng-controller="histctrl" id="ctrl">
            <p class="card-heading-simple">Last Three Orders</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td style="font-family: Impact; color: #777;">Date & Time</td>
                        <td style="font-family: Impact; color: #777;">status</td>
                    </tr>
                </thead>
                <tbody id="history-table-body">
                    <tr ng-repeat="hist in hists">
                        <td>{{hist.date}}</td>
                        <td>{{hist.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
		<div class="card hidden-xs">
            <p class="card-heading">Distance Check</p>
			<form method="GET" id="form" data-parsley-validate style="text-align: left;">
                <label style="margin-left: 15px;">Step 1: Enter postal code or address</label>
                <label style="margin-left: 15px;">Step 2: Press enter</label>
                <input class="form-control" style="max-width: 250px;" name="address2_st"
                    id="address2_st" placeholder="Postal Code or Address with City"
                    data-parsley-pattern="/^[A-Za-z0-9,\-\s]+$/" data-parsley-required />
    		</form>
            <p id="result"></p>
        </div>
    </div>
</div>

<script>
function histctrl($scope) {
    var hists = getHistory(3);
    $scope.hists = [];
    angular.forEach(hists, function(value) {
        value.date = new Date(value.requestedAt).toString().substring(0, 25);
        if (value.status === 9) {
            value.status = 'Driver Sent';
        } else {
            value.status = 'In Queue';
        }
        $scope.hists.push(value);
    });
}

function updateHistoryTable() {
    var hists = getHistory(3);
    var scope = angular.element($("#ctrl")).scope();
    scope.$apply(function() {
        scope.hists = [];
        angular.forEach(hists, function(value) {
            value.date = new Date(value.requestedAt).toString().substring(0, 25);
            if (value.status === 9) {
                value.status = 'Driver Sent';
            } else {
                value.status = 'In Queue';
            }
            scope.hists.push(value);
        });
    });
}
</script>
<script>
var restaurant = getRestaurant();
document.getElementById('current').innerHTML = restaurant.currentRequests;
$(document).ready(function() {
    $('#form').parsley().subscribe('parsley:form:validate', function(formInstance) {
        if (formInstance.isValid()) {
            checkDistance();
        }
    });
    $('#requestform').keypress(function() {
        $('#requestform').parsley("data-parsley-validate").subscribe('parsley:form:init', function(formInstance) {
            if (formInstance.isValid()) {
                alert("ok");
            }
        });
    });
});
function val() {
    $('#rform').parsley().subscribe('parsley:form:validate', function(formInstance) {
        if (formInstance.isValid()) {
            alert("ok");
        }
    });
}
</script>
