<div class="rest-wrapper">
    <div class="col-md-3">
        <div class="card">
            <p class="card-heading">Recent Number of Deliveries</p>
            <p id="current" class="card-lg-text-normal"></p>
        </div>
        <div class="card visible-lg visible-md">
            <h3 class="card-heading">Announcement</h3>
            <p class="announcement">Welcome to Pocketask Inc.</p>
        </div>
    </div>
    <div class="button-area col-md-6">
        <form method="GET" id="requestform" data-parsley-validate style="text-align: left;">
            <label>Destination</label>
            <input class="form-control" style="width: 100%; max-width: none;" placeholder="Destination" id="dest" name="dest" data-parsley-pattern="/^[A-Za-z0-9,\-\s]+$/">
        </form>
        <button class="button1" id="driver-button" data-toggle="modal"
            data-target="#confirm-modal">
        </button>
    </div>
    <div class="col-md-3">
        <div class="card" ng-controller="histctrl">
            <p class="card-heading-simple">Last Three Orders</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td style="font-family: Impact; color: #777;">Date & Time</td>
                        <td style="font-family: Impact; color: #777;">status</td>
                    </tr>
                </thead>
                <tbody id="history-table-body">
                    <tr ng-repeat="hist in hists">
                        <td>{{hist.date}}</td>
                        <td>{{hist.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
		<div class="card hidden-xs">
            <p class="card-heading">Distance Check</p>
			<form method="GET" id="form" data-parsley-validate style="text-align: left;">
                <label style="margin-left: 15px;">Step 1: Enter postal code or address</label>
                <label style="margin-left: 15px;">Step 2: Press enter</label>
                <input class="form-control" style="max-width: 250px;" name="address2_st"
                    id="address2_st" placeholder="Postal Code or Address with City"
                    data-parsley-pattern="/^[A-Za-z0-9,\-\s]+$/" data-parsley-required />
    		</form>
            <p id="result"></p>
        </div>
    </div>
</div>
<script>
function histctrl($scope) {
    var hists = getHistory(3);
    $scope.hists = [];
    angular.forEach(hists, function(value) {
        value.date = new Date(value.requestedAt).toString().substring(0, 25);
        if (value.status === 9) {
            value.status = 'Driver Sent';
        } else {
            value.status = 'In Queue';
        }
        $scope.hists.push(value);
    });
}
</script>
<script>
var restaurant = getRestaurant();
document.getElementById('current').innerHTML = restaurant.currentRequests;
$(document).ready(function() {
    $('#form').parsley().subscribe('parsley:form:validate', function(formInstance) {
        if (formInstance.isValid()) {
            checkDistance();
        }
    });
});
</script>
